langchain
langchain-core
langchain-community

langgraph
langchain-openai
langchain-google-genai
langchain-groq
langchain-mistralai
openai
mistralai
chromadb
sentence-transformers
pypdf
unstructured
python-dotenv
pandas
numpy
faiss-cpu
tiktoken
fastapi
uvicorn
tqdm
requests
langchain_huggingface
google-generativeai
streamlit


